[submodule "themes/kross-hugo"]
	path = themes/kross-hugo
	url = https://github.com/themefisher/kross-hugo
[submodule "newSite_kross/themes/kross-hugo-mod"]
	path = newSite_kross/themes/kross-hugo-mod
	url = https://github.com/themefisher/kross-hugo
